body {
    background-color: #28242c;
    margin-left: 16px;
    border-style: solid;
    border-color: rgb(47,51,54);
}

::placeholder {
    color: lightgray;
}

.border.override-bs {
    border-color: lightgray;
    border-width: 10px;
}